beautifulsoup4==4.5.1
bs4==0.0.1
lxml==3.6.4
oauthlib==2.0.0
requests==2.11.1
requests-oauthlib==0.7.0
selenium==2.53.6
Sickle==0.5
six==1.10.0
tweepy==3.5.0
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
Pillow==3.4.2
numpy==1.11.2
sklearn==0.0
matplotlib==1.5.3
